@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  /* margin: 1cm; */
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

ul {
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
}

#subheader {
  display: flex;
  align-items: start;
  margin-bottom: 0.75em;
}

#title {
  display: block;
}

#left {
  width: 25%;
}

#right {
  width: 75%;
}

.center {
  margin: 0 auto;
}

.align-center {
  align-self: center;
}
